@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,700,700i&display=swap");

@layer base {
  * {
    font-family: "Josefin Sans", sans-serif;
    @apply box-border;
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  html {
    height: 100%;
  }

  body{
    @apply h-full bg-gradient-to-tl from-gray-800 via-gray-900 to-black;
  }

  #redwood-app {
    height: 100%;
  }

  .logo:hover {
    text-shadow:
                0 5px 5px #283618,
                0 -5px 5px #283618;
  }

  .gallows {
    font-family: monospace;
  }
}
